<%- include('partials/header') %>

  <section class="navbar-bg">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/"><img alt="" width="32" height="32" src="/images/logo7.png"
            class="brand-logo hidden-xs-down" />
          <strong>audify</strong>
        </a>

        <a href="/" class="ml-auto home nav-item nav-link">Home</a>
        <a href="/history" class="ml-auto home nav-item nav-link">History</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">


          <div class="navbar-nav ml-auto action-buttons">
            <a href="/" class="btn btn-primary sign-up-btn">SignOut</a>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <header>
    <div class=" main-container container">
      <div class="row">
        <div class="text-center text-lg-start ">
          <h1 class="display-5 fw-normal mt-3">Video Convertor</h1>
          <p class="my-2 mx-3 py-4 sub-header">Audify is an online file converter. To get started, use the button below
            and select files to convert from your computer. This simple converter will help you quickly
            extract audio from popular video formats (MP4, MOV, MKV, WEBM, AVI, and others).</p>

        </div>

      </div>
    </div>
    <div class="container">
      <div class="text-center mt-5 hidden">

        <!-- <i class="fas fa-key fa-6x"></i> -->
        <h5 class="display-9 py-3">Convert Video to Audio with captions</h5>
        <!-- Makes POST request to /login route -->
        <br>

        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" accept="video/mp4,video/x-m4v,video/*" name="videofile">
          <br>
          <button type="submit" value="upload" class="btn btn-primary mt-4 btn-lg">Upload video</button>
        </form>

        <br>

        <a href="/download">
          <button class="btn btn-dark mt-4 mb-4 btn-lg">Download Audio File</button>
        </a>

        <br>

      </div>
    </div>
    <div class="container">
      <div class="work-container container">
        <div class="row">
          <div class="col-12 col-lg-4 text-center work-container-subdiv">
            <span
              class="logo d-flex align-items-center justify-content-center mx-auto text-white mb-4 mt-5 circle-icon">
              <i class="fas fa-shield-alt"></i>
            </span>
            <p class="fw-bold sub-title"><strong>Data Security</strong> </p>
            <p class="main-hero-para d-flex w-100">Audify has been trusted by our users and customers since
              its founding in 2023. No one except you will ever have access to your files. We earn money by
              selling access to our API, not by selling your data. Read more about that in our Privacy Policy.
            </p>
          </div>
          <div class="col-12 col-lg-4 text-center work-container-subdiv">

            <span
              class="logo d-flex align-items-center justify-content-center mx-auto text-white mb-4 mt-5 circle-icon">
              <i class="fas fa-cogs"></i>
            </span>
            <p class="fw-bold sub-title"><strong>High-Quality Conversions</strong> </p>
            <p class="main-hero-para d-flex w-100">Besides using open source software under the hood, we’ve
              partnered with various software vendors to provide the best possible results. Most conversion
              types can be adjusted to your needs such as setting the quality and many other options.</p>
          </div>
          <div class="col-12 col-lg-4 text-center work-container-subdiv">
            <span
              class="logo d-flex align-items-center justify-content-center mx-auto text-white mb-4 mt-5 circle-icon">
              <i class="fas fa-clone"></i>
            </span>
            <p class="sub-title fw-bold"><strong>1+ Formats Supported</strong></p>
            <p class="main-hero-para d-flex fw-light w-100">Audify is your universal app for file conversions. We
              support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation
              formats.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <footer>
    <p class="w-100 main-hero-para1">
      Copyright @ 2023 IIT Guwahati. All rights reserved.
    </p>
  </footer>

  <%- include('partials/footer') %>
